<h1>Chatbot con websocket</h1>
<input type="text" id="send-chat">
<button  id="send-button-chat">Enviar mensaje</button>

<div id="contenedor-chat"></div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/index.js"></script>